RANDOM_STATE=42
STRATIFIED_K_FOLD_SPLIT=5
STRATIFIED_K_FOLD_FILE="analysis/stratified_k_fold_for_analysis.csv"
VECTORIZER_FILE="models/vectorizer/tf_idf_vectorizer.pkl"
BEST_MODEL_FILE="models/best_model.pkl"
